.form-group button {
  width: 100%;
  height: 45px;
  background: #f08b1d;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 700;
  display: block;
}



.btn {
  &:link,
  &:visited {
    
   
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2s;
    
    font-size: 1.6rem;
  }
  &:hover {  
    background: #92c82d;
    cursor: hand;
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(black, 0.3);
    &::after {
      transform: scaleX(2) scaleY(1.4);
      opacity: 0;
    }
  }
  &:active {
    background: #33bfc1;
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba(black, 0.3);
    cursor: hand;
  }

  &::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.6s;
  }

  &--animated {
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }
  &.loading{
     background: #33bfc1 ;
    
    cursor:wait;
  }
}


.captcha-box button {
  background: none;
  border: none;
  color: #f08b1d; 
  cursor: pointer;
  font-weight: 600;
  transition: all 0.2s;
}

.captcha-box button:hover {
  color: #cc710e; 
  transform: scale(1.05);
}
