body {
  direction: rtl;
  text-align: right;
  font-family: "IRANYekanXVF", IRANYekanX, tahoma, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: background 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background: #2e2e2e;
  /* background: linear-gradient(to right, #b3afd4, #d990e7); */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body.login-bg {
  background: linear-gradient(135deg, #4e54c8, #010316);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* گرادینت برای ثبت‌نام */
body.register-bg {
  background: linear-gradient(135deg, #df82b8, #010316);
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

@font-face {
  font-family: "IRANYekanXVF";
  src: url("../public/Fonts/IRANYekanXVF.woff") format("woff-variations"),
    /* will be the standard and works in Safari now */
      url("../public/Fonts/IRANYekanXVF.woff") format("woff");
  /* for the other supporting browsers */
  font-weight: 100 1000;
  font-display: fallback;
}

@font-face {
  font-family: IRANYekanX;
  src: url("../public/Fonts/IRANYekanX-Regular.woff") format("woff");
}
@font-face {
  font-family: IRANYekanX;
  src: url("../public/Fonts/IRANYekanX-Bold.woff") format("woff");
  font-weight: 700;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.app-container {
  display: flex;
  height: 100vh;
  gap: 30px;
  padding: 50px;
  margin: auto;
}
